<!-- This file contains the form I need to edit  a member -->
<%- include ('./partials/head.ejs') %>
<link rel="stylesheet" href="/styles/home.css">
<body>
    <div id="flex-container">
        <form action="/members/<%= member._id %>?_method=PUT" method="POST" id="editForm">
           <input type="text" name="name" placeholder="<%= member.name%>"/>
           <input type="text" name="fav_book" placeholder="<%= member.fav_book%>"/>
           <input type="text" name="fav_author" placeholder="<%= member.fav_author%>"/>
           <button type="submit" class="btn btn-success rounded-pill">Edit Member</button>  
           <a href="/dashboard" id="cancel" name="cancel" class="btn btn-danger rounded pill">Cancel</a>
        </form>
    </div>
</body>