<!-- This file contains the form I need to show, edit or delete a member -->
<%- include ('./partials/head.ejs') %>
<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="/styles/showMember.css">
<div id="showmember">
    
    <h1><%= member.name %></h1>
    <p>
        Favorite Book: <%= member.fav_book %>
    </p>
    <p>
        Favorite Author: <%= member.fav_author %>
    </p>
</div>
<form action="/members/<%= member._id %>?_method=DELETE" method="POST">
    <button type="delete" class="btn btn-danger rounded-pill">Delete Member</button> 
</form>
<a href='/members/<%= member._id%>/edit' id="edit" name="edit" class="btn btn-warning rounded-pill">Edit Member</a>

